*{
    background-color: rgb(70, 228, 228);
}
p{
    font-style:italic;
}
.selector{
    color:hwb(84 5% 37%);
    background-color:rgb(4, 17, 17);
}

#selector1{
    color:#bc444498;
    background-color:hsla(90, 88%, 48%, 0.747);
}
h2,pre{
    color:rgba(236, 5, 5, 0.62);
}