.mono{
   font-family:'Courier New', Courier, monospace;
   font-size: smaller;
}
#serif{
    font-family:sans-serif;
    font-weight: 900;
}
.san-sherif{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#fantasy{
    font-style:oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cursive{
   font-family: cursive;
}
h2{
    text-align: center;
}
.point1{
  text-decoration:underline;
  text-indent: 5ch;
  text-transform: uppercase;
  line-height: 4cap;
}
.sekuya-regular {
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
}
p{
font-weight: 500;
text-decoration: 5px underline   orangered  solid;
}